__pycache__/
gameplay.log
__pycache__/Dictionary.cpython-310.pyc
__pycache__/Dictionary.cpython-310.pyc
gameplay.log
gameplay.log
new_words.txt
__pycache__/Dictionary.cpython-310.pyc
__pycache__/calculateStatistics.cpython-310.pyc
__pycache__/calculateStatistics.cpython-310.pyc
__pycache__/Dictionary.cpython-310.pyc
__pycache__/UI.cpython-310.pyc
new_words.txt
gameplay.log
